/* ––––––––––––––––––––––––––––––––––––––––––––––––––
BODY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
  }
  
  body {
    color: white;
    background-color: #26252C;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
  }
  
  ::selection {
    background: none;
    color: greenyellow;
  }
  
  @media screen and (max-width: 1200px)

  {
  
  img { display: none; }
  
  }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
SPACERS & STUFF
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-spacer-xl{
    margin-top: 216px;
}

.top-spacer-l{
    margin-top: 108px;
}

.top-spacer-m{
    margin-top: 188px;
}

.top-spacer-s{
    margin-top: 80px;
}

.top-spacer-c{
    margin-top: 160px;
}

.footer-spacer{
    margin-bottom: 160px;
}

/* Outline */
.outlined {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

@media (max-width: 768px) {
  .outlined {
      -webkit-text-stroke: 2px white;
      color: none;
  }
}

.outlined-white {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: white;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

h5 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    line-height: 1.8em;
}

p {
    font-size: 16px;
    color: white;
    line-height: 2.1em;
    font-weight: 400;
    margin: 0 0;
}

.sub-text {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #804DEB;
    transition: 0.4s;
}

.special a {
    font-weight: 400;
    text-decoration: underline;
}

.special a:hover {
    color: #804DEB;
    transition: 0.4s;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu {
    float: right;
  }
  
  .menu a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    float: right;
  }
  
@media (max-width: 1366px) {
.menu {
    display: none;
}
}

.menu a:hover {
    color: #804DEB;
    transition: 0.4s;
}

.menu li {
    list-style-type: none;
    padding-bottom: 30px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .header-title-small-left h2 {
      color: white;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 1.8em;
      margin-top: 14px;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }
  
  .header-title-small-right h2 {
      color: white;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 1.8em;
      margin-top: 14px;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }

 /* ––––––––––––––––––––––––––––––––––––––––––––––––––
 HERO
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

 .hero-section {
    background-color: #ffffff;
    height: 100%;
}

.hero-title h1 {
    color: white;
    font-size: 56px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.1em;
    margin-top: 144px;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
  .hero-title h1 {
      color: white;
      font-size: 56px;
      font-weight: 900;
      letter-spacing: -2px;
      line-height: 1.1em;
      margin-top: 144px;
      margin-bottom: 0px;
  }
}

.hero-title h2 {
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hero-img-text p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.overflow {
    display: block;
    margin: 0 auto;
    padding: 288px 0;
    max-width: 1920px;
}

.hero-button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-image: linear-gradient(270deg, #804CEB 0%, #4757F2 100%);
    height: 86px;
    cursor: pointer;
    line-height: 86px;
    text-transform: uppercase;
    width: 400px;
    font-weight: 500;
    transition: all .2s ease-in-out;
  }

  .hero-button:hover {
    color: white;
    transform: scale(1.1); 
  }

  .hero-line{
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    margin-left: 32.5%;
  }

  .hero-pic {
    position: absolute;
    z-index: -2;
    width: 370px;
    height: 600px;
    border: 15px solid #6C6B70;
  }

  .profile-pic {
    margin-top: 144px;
    margin-left: 182px !important;
  }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
CARDS
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.card {
    min-height: 356px;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1); 
}

.card-container{
    display: block;
    margin-left: 40px;
    margin-top: 96px;
    padding-bottom: 96px;
    width: 69%;
}

.case-1{
    background: #4757F2;
}

.case-2{
    background: #6052EE;
}
.case-3{
    background: #804DEB;
}

.card-line {
    position: absolute;
    z-index: -1;
    left: 0px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
FOOTER
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.footer-pic {
    display: block;
    max-width: 1440px;
    width: 88%;
    margin: 216px auto 0 auto;
}

.footer-line {
    position: absolute;
    z-index: -1;
    left: 0px;
    margin-left: 35%;
}



