
/* Some crazy responsive formula I found on StackOverflow */
html {
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

meta {
    display: none;
}

/* Setting up flex-box  */
.row {
  display:flex;
  flex-wrap: wrap;
}
.col {
  flex:1;
}

/* Animating with jQuery */

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Base setup */

.hide
{
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, #804CEB, #4757F2);
  color: white;
  opacity: 1;
  transition: 1s opacity;
}

.border{
  background-image: none;
  background-color: black;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 330;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 1rem 0;
}

h6 {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.8rem;
}

a {
  color: white;
}

a.button {
  appearance: button;
  text-decoration: none;

  display: inline-block;
  text-transform: uppercase;
  border: solid .25rem white;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  text-align: center;
  transition: all .45s;
}

a.button:hover {
  color: black;
  background-color: white;}

h6.subtitle {
  opacity: 0.4;
  text-align: center;
  margin-top: 0;
}

/* Boxes */
.first{
  padding-top: 4rem;
}
.container {
  background-color: black;
  border-right: solid black 2rem;
  border-left: solid black 2rem;
}
.container-transparent{
  background-color: none;
  margin: 0 2rem;
}

.content{
  margin: auto 3rem;
}

.wrapper {
  max-width: 1200px;
  margin: auto auto;
  padding: 2rem 2rem;
}

.hero {
  align-items: center;
}

.hero-pic {
  margin: auto auto;
  width: 100%;
}

.hero-footer {
  margin: 5rem 0;
}

.inline-pic{
  margin: 0 auto auto auto;
  width: 100%;
  height: 100%;
}

.grid-pic{
  width: 100%;
}

/* Profile Card */
.headshot{
  display: block;
  margin: 0 auto;
}

.profile-text, .specialties{
  padding: 2rem;
}

.profile-card {
  background-color: white;
  color: #4A4A4A;
  padding: 2rem;
  animation: fadein 3s;
}

.roles{
  text-align: center;
}

/* Specilization Container */
.specialty-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.persona {
  max-height: 240px;
}

#specialty-heading{
  padding: 0 1rem;
}

#specialty-text {
  padding: 0 1rem;
  margin-top: 0;
  margin-bottom: 4rem;
}



/* Cards  */


.case-card {
  /* display: flex; */
  background-color: white;
  color: #4A4A4A;
  padding: 2rem;
}

.pic {
  background-repeat: no-repeat;
  background-position: center top;
  background-size:contain;
}

#case-1 {
  background-image: url(case-1@2x.jpg);
  background-size: 140%;
}

#us {
  background-image: url(us@2x.jpg);
}


/* Buttons */
#primary-button {
  margin: 0 0;
}

.header-button {
  width: 10rem;
  padding: .5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.card-button {
  width: 10rem;
  padding: .5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.heading {
  margin: 4rem auto;
  align-items: center;
  text-align: center;
  align-content: center;
  max-width: 35rem;
}

.case-heading {
  text-align: center;
  background-color: none;
}

.line {
  display: block;
  margin: 0 auto 0 auto;
  height: .5rem;
  width: 10rem;
  background-image: linear-gradient(90deg, #804CEB, #4757F2);
}


/* Footer */

.footer {
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin: auto auto;
  align-items: center;
  text-align: center;
  background-color:black;
}

.footer-button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .5rem;
}

.close-button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .5rem;
}

.fab {
  padding: .75rem 0;
}

@media(max-width:70rem){
  .row{flex-direction:column}
  .col{flex:0 0 auto}
  .hero-pic{display: none;}
}
@media(min-width: 70rem){
  .col-tenth{flex:0 0 10%}
  .col-fifth{flex:0 0 20%}
  .col-quarter{flex:0 0 25%}
  .col-third{flex:0 0 33.3333334%}
  .col-fivish{flex:0 0 41.66666667%}
  .col-halfish{flex:0 0 49%}
  .col-half{flex:0 0 50%}
  .col-sevenish{flex:0 0 58.33333333%}
  .col-twothird{flex:0 0 66.66666667%}
}
