html {
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

meta {
    display: none;
}

.row {
  display:flex;
  flex-wrap: wrap;
}
.col {
  flex:1;
}
@media(max-width:70rem){
  .row{flex-direction:column}
  .col{flex:0 0 auto}
}
@media(min-width: 70rem){
  .col-tenth{flex:0 0 10%}
  .col-fifth{flex:0 0 20%}
  .col-quarter{flex:0 0 25%}
  .col-third{flex:0 0 33.3333334%}
  .col-fivish{flex:0 0 41.66666667%}
  .col-half{flex:0 0 50%}
  .col-sevenish{flex:0 0 58.33333333%}
  .col-twothird{flex:0 0 66.66666667%}
  .specialties {
    margin-bottom: -10rem;
  }
}

/* ANIMATIONS */

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 330;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

a {
  color: white;
}

.specialty-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#center-text{
  text-align:center;
}

#specialty-text {
  padding: 0 1rem 0 1rem;
  margin-bottom: 8rem;
}

.container {
  max-width: 1200px;
  margin: 8rem auto;
}

.hero {
  align-items: center;
}

.hero-pic {
  margin: 0 auto;
  width: 100%;
  /* opacity: 0; */
}

.headshot{
  display: block;
  margin: 0 auto;
}

.profile-footer {
  margin-top: 100px;
  text-align: center;
}

.bordered {
  box-sizing: border-box;
  border: solid .9375rem transparent;
  position: relative;
  padding: 1.875rem;
}

.bordered::before {
  background: rgba(52, 152, 219, .3);
  border: 1px solid #2c3e50;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.profile-text, .specialties{
  padding: 2rem;
}

.profile-card {
  background-color: white;
  color: #4A4A4A;
  padding: 2rem;
  animation: fadein 3s;
}

.card {
  min-height: 24rem;
}

.case-card {
  display: flex;
  background-color: white;
  color: #4A4A4A;
  padding: 2rem;
}
#card-content {
  display: flex;
  align-items: center;
}
.pic {
  background-repeat: no-repeat;
  background-position: center top;
  background-size:contain;
}

#case-1 {
  background-image: url(case-1@2x.jpg);
  background-size: 140%;
}

#us {
  background-image: url(us@2x.jpg);
}

/* .profile-card::before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

.hero-footer {
  margin: 5rem 0;
}

a.button {
  appearance: button;
  text-decoration: none;

  display: inline-block;
  text-transform: uppercase;
  border: solid .25rem white;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  text-align: center;
  transition: all .45s;
}

a.button:hover {
  color: black;
  background-color: white;}

#primary-button {
  margin: 0 0;
  /* background-image: linear-gradient(90deg, #804CEB, #4757F2);
  border: none;
  padding: 2em 2.5em;
  color: black;
  font-weight: 700;
  font-size: 1rem; */
}

.header-button {
  width: 10rem;
  padding: .5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}


.heading {
  margin: 2rem auto;
  align-items: center;
  text-align: center;
  align-content: center;
}

.line {
  display: block;
  margin: -1rem auto 0 auto;
  height: .5rem;
  width: 10rem;
  background-image: linear-gradient(90deg, #804CEB, #4757F2);
}



.footer {
  margin: 5rem 0;
  align-items: center;
  text-align: center
}

.footer-button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .5rem;
}

.close-button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .5rem;
}

.fab {
  padding: .75rem 0;
}

.slider {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: white;
  transition: all .5s;
  background-color: black;
  /* background-image: linear-gradient(90deg, #804CEB, #4757F2); */
}

.slider.close {
  top: 100%;
  height: 0;
  display: none;
}

.hide
{
  display: none;
}

#black-box {
  background-color: black;
  margin: 1rem auto;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
