
.row {
  display:flex
}
.col {
  flex:1
}
@media(max-width:48em){
  .row{flex-direction:column}
  .col{flex:0 0 auto}}
@media(min-width:48em){
  .col-tenth{flex:0 0 10%}
  .col-fifth{flex:0 0 20%}
  .col-quarter{flex:0 0 25%}
  .col-third{flex:0 0 33.3333334%}
  .col-fivish{flex:0 0 41.66666667%}
  .col-half{flex:0 0 50%}}
  .col-sevenish{flex:0 0 58.33333333%}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2rem;
  font-weight:400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

h6 {
  font-size: .75rem;
  font-weight: 400;
  line-height: 2rem;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  margin-top: 2rem;
  align-items: center;
}

.hero-pic {
  display: block;
  margin: 0 auto;
  width: 100%
}

.headshot{
      display: block;
      margin: 0 auto;
}

.profile-footer {
  margin-top: 100px;
  text-align: center;
}

.bordered {
  box-sizing: border-box;
  border: solid .9375em transparent;
  position: relative;
  padding: 1.875em;
}

/* .bordered::before {
  background: rgba(52, 152, 219, .3);
  border: 1px solid #2c3e50;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

.profile-card {
  color: #4A4A4A;
  padding: 3rem;
}

.profile-card::before {
  background: white;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  display: inline-block;
  text-transform: uppercase;
  border: solid .25rem white;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.header-button {
  width: 10rem;
  padding: .5rem 1rem;
  margin-right: 1rem;
}

.footer-button {
  width: 3rem;
  height: 3rem;
  margin: 0 .75rem;
}

.fab {
  padding: 1rem 1rem;
}

.footer {
  text-align: center
}
